<div class="sanitary">

    <h5>समितिको परिचय: </h5>
    <h5>समितिका पदाधिकारीहरु:</h5>
    <div class="list">
        <div class="left">
            <ul>
                <li> श्री सुनिता डंगोल, उपप्रमुख</li>
                <li> श्री मैंया लक्ष्मी महर्जन, कार्यपालिका सदस्य, काठमाडौँ महानगरपालिका</li>
                <li>श्री दिपक अधिकारी, प्रमुख, सामाजिक विकास विभाग</li>
                <li> श्री नलि वज्राचार्य, स्वास्थ्य अधिकृत, काठमाडौँ महानगरपालिका</li>
                <li>श्री हेरम्वराज कंडेल, विद्यालय सम्पर्क व्यक्ति</li>
                <li>श्री रविना महर्जन, विद्यालय सम्पर्क व्यक्ति</li>
                <li> श्री सरस्वती पोखरेल, उपनिर्देशक, शिक्षा विभाग, काठमाडौं महानगरपालिका सदस्य सचिव</li>
            </ul>
        </div>
        <div class="right">
            <ul>
                <li>संयोजक</li>
                <li>सदस्य</li>
                <li>सदस्य</li>
                <li>सदस्य</li>
                <li>सदस्य</li>
                <li>सदस्य</li>
                <li>सदस्य सचिव</li>
            </ul>
        </div>
    </div>
    <h4>समिति गठन सम्वन्धी कानुनी व्यवस्था:</h4>
    <h4>समितिले गरेको कार्यविवरणः</h4>
    <h4>समितिकाले गरेको निर्णयहरु:</h4>
    <h4>समाचार तथा फोटो ग्यालरी:</h4>


    
</div>
