<div class="krishi">
    <h5>समितिको परिचय: </h5>
    <h5>समितिका पदाधिकारीहरु:</h5>
    <div class="list">
        <div class="left">
            <ul>
                <li> श्री सुनिता डंगोल, उपप्रमुख</li>
                <li> श्री वसन्त अधिकारी, प्रमुख प्रशासकीय अधिकृत</li>
                <li>श्री राजेन्द्र मानन्धर, अध्यक्ष वडा नं. २०</li>
                <li> श्री कञ्चन नेपाली हरिजन, सदस्य वडा नं. २३</li>
                <li>श्री वसन्त आचार्य, निर्देशक</li>
                <li>श्री राम बहादुर थापा, निर्देशक</li>
                <li> श्री नरेन्द्र विलास वज्राचार्य</li>
            </ul>
        </div>
        <div class="right">
            <ul>
                <li>संयोजक</li>
                <li>सदस्य</li>
                <li>सदस्य</li>
                <li>सदस्य</li>
                <li>सदस्य</li>
                <li>सदस्य</li>
                <li>सदस्य सचिव</li>
            </ul>
        </div>
    </div>
    <h5>समितिले गरेको कार्यविवरणः</h5>
    <h4>समितिकाले गरेको निर्णयहरु:</h4>
    <h4>समाचार तथा फोटो ग्यालरी:</h4>
</div>
