<div class="bazar">

    <h5>समितिको परिचय: </h5>
    <p>स्थानीय सरकार संचालन ऐक, २०७४को परिच्छेद ९ को दफा ६५ अनुसार प्रत्येक गाउँपालिका वा नगरपालिकामा राजश्व सम्बन्धी
        परामर्शको लागि एक स्थानीय राजश्व परामर्श समिति गठन गरिनेछ । सो समितिमा गाउँपालिका वा नगरपालिकाको निर्वाचित
        उपाध्यक्ष वा उप प्रमुख संयोजक रहने व्यवस्था रहेको छ। समितिमा सम्बन्धित गाँउ/नगर कार्यपालिकाको प्रमुख प्रशासकीय
        अधिकृत, कार्यपालिकाले तोकेको कार्यपालिकाका सदस्य मध्येवाट एक जना महिला सहित दुइ जना सदस्य, निजीक्षेत्रको उद्योग
        बाणिज्य सम्बन्धी मान्यता प्राप्त संस्थाको नगर वा गाउँ तहको अध्यक्ष वा निजले तोकेको प्रतिनिधि सदस्य, घरेलु तथा
        साना उद्योग
        सम्वन्धी मान्यताप्राप्त संस्थाको नगर वा गाउँ तहको अध्यक्ष वा निजले तोकेको प्रतिनिधि सदस्य र सम्वन्धित राजश्व
        विभाग ।
        महाशाखा । शाखा को प्रमुख सदस्य सचिवको रुपमा रहने व्यवस्था गरेको छ । सोहीअनुसार काठमाडौ महानगरपालिकाको
        वडा नं. १४ का वडाध्यक्ष श्री सुमन श्रेष्ठ र काठमाडौ महानगरपालिका वडा नं. ५ का नगर कार्यपालिकाका सदस्य श्री मिना
        सिंह मनोनित हुनुभएको छ भने श्री संन्दिप अग्रवाल, प्रतिनिधि, उद्योग वाणिज्य महासंघश्री डोल्मा शेर्पा, प्रतिनिधि,
        घरेलु तथा
        साना उद्योग महासंघबाट प्रतिनिधित्व गर्नु भएको छ भने श्री शिवराज अधिकारी विभागीय प्रमुख राजश्व विभागले सो समितिको
        सदस्य सचिवका रुपमा कार्यरत रहनु भएको छ ।</p>
    <h5> समितिका पदाधिकारीहरु : </h5>


    <div class="list">
        <div class="left">
            <ul>
                <li> श्री सुनिता डंगोल, उपप्रमुख</li>
                <li> श्री वसन्त अधिकारी, प्रमुख प्रशासकीय अधिकृत</li>
                <li> श्री न्हुच्छे काजी महर्जन, अध्यक्ष वडा नं. १८</li>
                <li>श्री राजेश डंगोल, अध्यक्ष वडा नं. २५</li>
                <li>श्री भाई राम खड्गी, अध्यक्ष वडा नं. २८</li>
                <li>श्री प्रकाश पोखरेल, प्रशासकीय अधिकृत, जिल्ला प्रशासन कार्याल काठमाडौं</li>
                <li>श्री प्रतिनिधी, महानगरको क्षेत्रभित्र कार्यरत विभिन्न वस्तु र सेवा क्षेत्रका महानगरपालिका, सङ्घीय वा प्रदेश सरकार अर्न्तगतका कार्यालय</li>
                <li>श्री प्रतिनिधि, उद्योग वाणिज्य संघ काठमाडौंको अध्यक्ष</li>
                <li>श्री प्रतिनिधी, महानगरपालिकाले तोकेको उपभोक्ता हित संरक्षणमा सकिय संघ संस्था</li>
                <li>श्री बलराम त्रिपाठी, विभागिय प्रमुख, स्वास्थ्य विभाग</li>
            </ul>
        </div>
        <div class="right">
            <ul>
                <li>संयोजक</li>
                <li>सदस्य</li>
                <li>सदस्य</li>
                <li>सदस्य</li>
                <li>सदस्य</li>
                <li>सदस्य</li>
                <li>सदस्य</li>
                <li>सदस्य</li>
                <li>सदस्य</li>
                <li>सदस्य सचिव</li>
            </ul>
        </div>
    </div>
    <h4>समितिले गरेको कार्यविवरण:</h4>
    <h4>समितिकाले गरेको निर्णयहरु:</h4>
    <h4>समाचार तथा फोटो ग्यालरी</h4>


</div>