<div class="raja">


    <h5>राजश्व परामर्श समितिको परिचय: </h5>
    <p>स्थानीय सरकार संचालन ऐक, २०७४को परिच्छेद ९ को दफा ६५ अनुसार प्रत्येक गाउँपालिका वा नगरपालिकामा राजश्व सम्बन्धी
        परामर्शको लागि एक स्थानीय राजश्व परामर्श समिति गठन गरिनेछ । सो समितिमा गाउँपालिका वा नगरपालिकाको निर्वाचित
        उपाध्यक्ष वा उप प्रमुख संयोजक रहने व्यवस्था रहेको छ। समितिमा सम्बन्धित गाँउ/नगर कार्यपालिकाको प्रमुख प्रशासकीय
        अधिकृत, कार्यपालिकाले तोकेको कार्यपालिकाका सदस्य मध्येवाट एक जना महिला सहित दुइ जना सदस्य, निजीक्षेत्रको उद्योग
        बाणिज्य सम्बन्धी मान्यता प्राप्त संस्थाको नगर वा गाउँ तहको अध्यक्ष वा निजले तोकेको प्रतिनिधि सदस्य, घरेलु तथा
        साना उद्योग
        सम्वन्धी मान्यताप्राप्त संस्थाको नगर वा गाउँ तहको अध्यक्ष वा निजले तोकेको प्रतिनिधि सदस्य र सम्वन्धित राजश्व
        विभाग ।
        महाशाखा । शाखा को प्रमुख सदस्य सचिवको रुपमा रहने व्यवस्था गरेको छ । सोहीअनुसार काठमाडौ महानगरपालिकाको
        वडा नं. १४ का वडाध्यक्ष श्री सुमन श्रेष्ठ र काठमाडौ महानगरपालिका वडा नं. ५ का नगर कार्यपालिकाका सदस्य श्री मिना
        सिंह मनोनित हुनुभएको छ भने श्री संन्दिप अग्रवाल, प्रतिनिधि, उद्योग वाणिज्य महासंघश्री डोल्मा शेर्पा, प्रतिनिधि,
        घरेलु तथा
        साना उद्योग महासंघबाट प्रतिनिधित्व गर्नु भएको छ भने श्री शिवराज अधिकारी विभागीय प्रमुख राजश्व विभागले सो समितिको
        सदस्य सचिवका रुपमा कार्यरत रहनु भएको छ ।</p>
    <h5> हाल राजश्व परामर्श समितिमा देहायका पदाधिकारीहरु रहनु भएको छ : </h5>


    <div class="list">
        <div class="left">
            <ul>
                <li> श्री सुनिता डंगोल, उपप्रमुख</li>
                <li> श्री वसन्त अधिकारी, प्रमुख प्रशासकीय अधिकृत</li>
                <li>श्री सुमन श्रेष्ठ, अध्यक्ष वडा नं. १४</li>
                <li>श्री मिना सिंह, नगर कार्यपालिका सदस्य</li>
                <li>श्री सन्दिप अग्रवाल, प्रतिनिधि, उद्योग वाणिज्य महासंघ</li>
                <li>श्री डोल्मा शेर्पा, प्रतिनिधि, घरेलु तथा साना उद्योग महासंघ</li>
                <li> श्री शिवराज अधिकारी, विभागीय प्रमुख, राजश्व</li>
            </ul>
        </div>
        <div class="right">
            <ul>
                <li>संयोजक</li>
                <li>सदस्य</li>
                <li>सदस्य</li>
                <li>सदस्य</li>
                <li>सदस्य</li>
                <li>सदस्य</li>
                <li>सदस्य सचिव</li>
            </ul>
        </div>
    </div>

    <div class="adhikar">
        <h5>राजश्व परामर्श समितिको काम, कर्तव्य र अधिकार:</h5>
        <ul>
            <li> राजश्व सम्बन्धी नीति तथा कानूनको तर्जुमा, संशोधन, परिमार्जन र सोको परिपालनका सम्वन्धमा आवश्यक परामर्श
                प्रदान गर्ने, </li>
            <li> राजश्वका श्रोत, दायरा र दर समेतको विश्लेषण गरी आगामी आर्थिक वर्षमा प्राप्त हुन सक्ने राजश्वको अनुमान
                गर्ने, </li>
            <li> राजश्वका दर र क्षेत्र लगायतका आधारमा आन्तिरिक आयको विश्लेषण र अनुमान गर्ने, </li>
            <li> स्थानिय उद्योग तथा व्यवसाय प्रवर्दन र रोजगारी सिर्जनामा योगदान दिने किसिमको कर नीतिको सम्बन्धमा
                परामर्श दिने, </li>
            <li>कर राजश्व, गैरकर राजश्व, सेवा शुल्क, दस्तुर आदिको दर सम्वन्मा परामर्श दिने, </li>
            <li> राजश्व प्रशासन सुधारका लागि अन्य आवश्यक परामर्श दिने </li>
        </ul>
        <h4>समितिका मुख्य निर्णयक :</h4>
        <h4>समाचार तथा फोटो ग्यालरी:</h4>
    </div>

</div>