<div class="contain">
  <h1>उप-प्रमुखको सचिवालय</h1>

  <ul ngbNav #nav="ngbNav" class="nav-tabs navig">
    <li ngbNavItem class="navig">
      <a ngbNavLink routerLink="">गृहपृष्ठ</a>
      <ng-template ngbNavContent>
        <div class="Parichaye">
          <h1 class="page-title">कर्मचारिहरु</h1>
          <div class="saff-table">
            <table>
              <thead class="heading">
                <tr>
                  <th class="one">फोटो</th>
                  <th class="two">नाम</th>
                  <th class="three">पद</th>
                  <th>फोन नम्बर</th>
                  <th>इमेल</th>
                </tr>
              </thead>
              <tbody class="staff">
                <tr>
                  <td class="staff-img">
                    <img src="../../assets/image/saurab.jpg" alt="img" />
                  </td>
                  <td class="name">सौरभ गौतम</td>
                  <td class="padd">सचिवालय प्रमुख</td>
                  <td class="phone">९८५१०४९४००</td>
                  <td>sauravg_ntv@hotmail.com</td>
                </tr>

                <tr>
                  <td class="staff-img">
                    <img src="../../assets/image/saurab.jpg" alt="img" />
                  </td>
                  <td class="name">विश्व शाक्य</td>
                  <td class="padd">निजी स्वकीय सचिव</td>
                  <td class="phone">९८५१२३१४५०</td>
                  <td>deputymayorspa.kmc@gmail.com</td>
                </tr>

                <tr>
                  <td class="staff-img">
                    <img src="../../assets/image/saurab.jpg" alt="img" />
                  </td>
                  <td class="name">अनिमा डंगोल</td>
                  <td class="padd">सहायकस्तर चौथो</td>
                  <td class="phone">९८४९९१९५५९</td>
                  <td>dangolanima559@gmail.com</td>
                </tr>

                <tr>
                  <td class="staff-img">
                    <img src="../../assets/image/saurab.jpg" alt="img" />
                  </td>
                  <td class="name">प्रयास घिमिरे</td>
                  <td class="padd">पि.एस.ओ</td>
                  <td class="phone">९८४३११०८६०</td>
                  <td></td>
                </tr>

                <tr>
                  <td class="staff-img">
                    <img src="../../assets/image/saurab.jpg" alt="img" />
                  </td>
                  <td class="name">सम्झना पाण्डे</td>
                  <td class="padd">पि.एस.ओ</td>
                  <td class="phone">९८४१८००९६३</td>
                  <td></td>
                </tr>
                <tr>
                  <td class="staff-img">
                    <img src="../../assets/image/saurab.jpg" alt="img" />
                  </td>
                  <td class="name">नारायणी थापा मगर</td>
                  <td class="padd">कार्यालय सहयोगी</td>
                  <td class="phone">९८६०८३४७७४</td>
                  <td></td>
                </tr>

                <tr>
                  <td class="staff-img">
                    <img src="../../assets/image/saurab.jpg" alt="img" />
                  </td>
                  <td class="name">यज्ञ प्रसाद चौलागाई</td>
                  <td class="padd">कार्यालय सहयोगी</td>
                  <td class="phone">९८४१५३७२८९</td>
                  <td></td>
                </tr>

                <tr>
                  <td class="staff-img">
                    <img src="../../assets/image/saurab.jpg" alt="img" />
                  </td>
                  <td class="name">अजय श्रेष्ठ</td>
                  <td class="padd">सवारी चालक</td>
                  <td class="phone">९८४१३७६९८०</td>
                  <td></td>
                </tr>

                <tr>
                  <td class="staff-img">
                    <img src="../../assets/image/saurab.jpg" alt="img" />
                  </td>
                  <td class="name">सुमन श्रेष्ठ</td>
                  <td class="padd">निजी सवारी चालक</td>
                  <td class="phone">९८४९६४२३७३</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem class="navig">
      <a ngbNavLink routerLink="">उपप्रमुखज्युको दैनिक कार्य तालिका</a>
      <ng-template ngbNavContent>
        <div class="tbl">
          <table>
            <tr>
              <td colspan="7" style="border: 1px solid black; text-align: center">
                काठमाडौं महानगरपालिका नगर कार्यपालिकाको कार्यालय बागदरवार,
                सुन्धारा उप-प्रमुखज्यूको कार्यालय कार्यक्रम तालिका विवरण
              </td>
            </tr>
            <tr>
              <td colspan="7" style="
                  background-color: #124f9f;
                  color: #ffffff;
                  text-align: center;
                ">
                • मिति २०७१।०१।०१ शुक्रबार December 16th 2022, Friday
              </td>
            </tr>
            <tr>
              <td>क्र.सं.</td>
              <td>समय</td>
              <td>कार्यक्रम विवरण</td>
              <td>स्थान</td>
              <td>सम्बन्धित व्यक्ति/संस्था/पद</td>
              <td>सम्पर्क फोन नं.</td>
              <td>कैफियत</td>
            </tr>
            <tr>
              <td>.</td>
              <td>.</td>
              <td>.</td>
              <td>.</td>
              <td>.</td>
              <td>.</td>
              <td>.</td>
            </tr>
            <tr>
              <td>.</td>
              <td>.</td>
              <td>.</td>
              <td>.</td>
              <td>.</td>
              <td>.</td>
              <td>.</td>
            </tr>
            <tr>
              <td>.</td>
              <td>.</td>
              <td>.</td>
              <td>.</td>
              <td>.</td>
              <td>.</td>
              <td>.</td>
            </tr>
          </table>

          <div class="vetbarta">
            <ul>
              <li>
                <h5>विदेशी नियोगहरुवाट भएका शिष्टचार भेटवार्ताको विवरणः</h5>
                <p>क. भेट गरिएको अधिकारीको नामथरः</p>
                <p>ख. कार्यालय / संस्थान / देश:</p>
                <p>ग. मिति:</p>
                <p>घ. स्थान</p>
                <p>ङ भेटको प्रकृति च छलफल विषय र निष्कंप / उपलब्धी</p>
                <ul>
                  <li>छलफलको विषय</li>
                  <li>निष्कंप / उपलब्धी</li>
                </ul>
              </li>
              <li>
                <h5>
                  सचिवालयमा प्राप्त हुन आएका गुनासो र सोको सुनबाई (अन्तर विभाग
                  समन्वय गर्न लिंक गर्ने)
                </h5>
                <p>क. गुनासोको विवरण</p>
                <p>ख. स्रोत</p>
                <p>ग. सुनवाई तथा कारवाही</p>
                <p>घ. नतिजा</p>
              </li>
            </ul>
          </div>

        </div>
      </ng-template>
    </li>
    <li ngbNavItem class="navig">
      <a ngbNavLink>समितिहरु</a>
      <ng-template ngbNavContent>
        <ul class="samitiharu">
          <li><a routerLink="nyaayik-samiti"> १. न्यायिक समिति </a></li>

          <li><a routerLink="rajaswo-samiti"> २. राजश्व परामर्श समिति </a></li>

          <li>
            <a routerLink="karyakaram-budget">
              ३. कार्यक्रम तथा बजेट तर्जुमा समिति
            </a>
          </li>

          <li>
            <a routerLink="bazar-bewasthapan">
              ४. बजार व्यवस्थापन तथा उपभोक्ता हित संरक्षण समिति
            </a>
          </li>

          <li>
            <a routerLink="apang-parichaya">
              ५. अपांग परिचयपत्र वितरण समन्वय समिति
            </a>
          </li>

          <li>
            <a routerLink="sanitary-pad">
              ६. सेनेटरी प्याड व्यवस्थापन तथा वितरण समिति
            </a>
          </li>

          <li>
            <a routerLink="krishi-anudan"> ७. कृषि मल अनुदान वितरण समिति </a>
          </li>
        </ul>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>