<div class="nya">
    <h5>न्यायिक समितिको परिचय :-</h5>
    <p>नेपालको संविधानको भाग १७ को धारा २१७ वमोजिम स्थानीयस्तरका विवाद निरुपण गर्न प्रत्येक गांउपालिका वा नगरपालिकाले
        गाँउपालिका वा
        नगरपालिकाको उपाध्यक्ष वा उपप्रमुखको संयोजकत्वमा तीन सदस्यीय एक न्यायिक समिति रहने व्यवस्था गरेको छ सो समितिमा
        गाउँसभा वा
        नगरसभाबाट आफूमध्येबाट निर्वाचित गरेका दुई जना सदस्यहरु रहनेछन । सोही व्यवस्थानुसार काठमाडौ महानगरपालिकाको मिति
        २०७८/३/२५
        गते भएको निर्वाचनमा सदस्य पदमा वडा नं. २९ का वडाध्यक्ष श्री कुश ढकाल र वडा नं. ११ का महिला वडा सदस्य श्री आशा
        रौनियार श्रेष्ठ
        निर्वाचित हुनु भई कार्य शुरु भएको छ ।</p>
    <br>
    <h5> न्यायिक समितिका पदाधिकारीहरु :</h5>
    <div class="list">
        <div class="left">
            <ul>
                <li>उपप्रमुख श्री सुनिता डंगोल</li>
                <li>वडाध्यक्ष श्री कुश ढकाल</li>
                <li>महिला सदस्य श्री आशा रौनियार श्रेष्ठ</li>
            </ul>
        </div>
        <div class="right">
            <ul>
                <li>संयोजक</li>
                <li>सदस्य</li>
                <li>सदस्य</li>
            </ul>
        </div>
    </div>
<div class="adhikar">
    <h5>न्यायिक समितिका क्षेत्राधिकार :</h5>
 <ul>
    <li> आलीधुरी, बाँध पैनी, कुलो वा पानीघाटको वाडफोट तथा उपयोग, </li>
    <li>  अकांको वाली नोक्सानी गरेको, </li>
    <li> चरन, घाँस, दाउरा </li>
    <li>  ज्याला मजुरी नदिएको, </li>
    <li> घरपालुवा पशुपक्षी हराएको वा पाएको, </li>
    <li> घरपालुवा पशुपक्षी हराएको वा पाएको, </li>
    <li> जेष्ठ नागरिकको पालनपोषण तथा हेरचाह नगरेको, </li>
    <li>  नावालक छोरा छोरी वा पति पत्नीलाई इज्जत आमद अनुसार खाना लाउन वा शिक्षा नदिएको, </li>
    <li>  वार्षिक पच्चीस लाख रुपैयासम्मको विगो भएको घर वहाल र घर वहाल सुविधा, </li>
    <li>  अन्य व्याक्तिको घर, जग्गा वा सम्पतिलाई असर पर्ने गरी रुख विरुवा लगाएको, </li>
    <li> आफनो घर वा बलेसीबाट अर्काको घर, जग्गा वा सार्वजनिक बाटोमा पानी झारेको, </li>
    <li>  संधियारको जग्गा तर्फ झ्याल राखी घ। बनाउनु पर्दा कानून वमोजिम छोडनु पर्ने परिमाणको जग्गा नछोडी बनाएको, </li>
    <li>  कसैको हक वा स्वामित्वमा भए पनि परापूर्व देखि सार्वजनिक रुपमा प्रयोग हुदै आएको वाटो, वस्तुभाउ निकाल्ने निकास
        वस्तुभाउ चराउने चौर, कुलो नहर, पोखरी, पाटी पौवा, अन्त्यष्टि स्थल,धार्मिकस्थल वा अन्य कुनै सार्वजनिक स्थलको उपयोग
        गर्न नदिएको वा वाधा पुर्याएको, </li>
    <li>  संघीय वा प्रदेश कानूनले स्थानिय तहवाट निरुपण हुने भनी तोकेका अन्य विवाद, </li>
    </ul>
    </div>
</div>